@import url(//fonts.googleapis.com/css?family=Vibur);
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-weight: 900;
  color: #333;
}
legend {
  font-family: Vibur;
  font-size: 1.7rem;
  transform: rotate(-10deg);
  text-align: center;
  background-image: linear-gradient(to right, var(--red) 50%, #377ec2 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 10px;
  text-shadow:
    0 -40px -100px,
    0 0 2px,
    6px 6px 11px #377ec2,
    9px 7px 12px #000,
    0px 2px 20px #fff;
}
p {
  /* position: relative; */
  text-shadow:
    0 -40px 100px,
    0 0 2px,
    0 0 1em #ff4444,
    0 0 0.5em #ff4444,
    0 0 0.1em #ff4444,
    0 10px 3px #000;
  font-family: Vibur;
  width: 50%;
  font-size: 2rem;
  color: #fe3;
  transform: rotate(-28deg);
  background: transparent;
  border-radius: 50px;
  text-align: center;
}

fieldset {
  border: 4px solid var(--background);
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  padding-bottom: 20px;
  --hue: 228deg;
  --accent-hue: 164deg;
}

/* quitar el borde del input color */
input[type="color"] {
  max-width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

body {
  background: var(--pink);
  color: var(--foreground);
}

:root {
  --background: #134686;
  --foreground: #171717;
  --red: #ed3d27;
  --yellow: #feb21a;
  --pink: #fdf4e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #134686;
    /* --foreground: #ededed; */
  }
}

/* Quitar estilos nativos */
input {
  -webkit-appearance: none;
  appearance: none;
}
/* Web Safari & Edge */
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
/* Mozilla Firefox */
input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
}
/* WebKit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}

/* Mozilla (Firefox) */
input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
}

span {
  position: absolute;
  top: -400%;
  text-wrap: nowrap;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 10px;
  align-self: center;
  background: linear-gradient(to right, #333 60%, var(--yellow) 70%, #333 80%);
  transition: left 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
