.logo {
  animation: load 3s linear infinite;
}

@keyframes load {
  10% {
    transform: scale(1.4);
    filter: blur(3px);
  }
  30% {
    transform: scale(0.9);
    opacity: 0.3;
    filter: blur(0);
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
}
