.nav {
  position: fixed;
  background: var(--pink);
  top: 0;
  z-index: 99;
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
  height: 20vh;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, var(--yellow) 30%, var(--red) 80%);
  border-image-slice: 1;
}
.iconButt {
  color: var(--red);
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}

.iconButt:hover {
  transform: scale(1.2);
}
